In [1]:
%pylab inline
import pandas as pd
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [2]:
events = pd.read_csv('../CSV/events.csv',delimiter=";")
match_info = pd.read_csv('../CSV/match_info.csv',delimiter=";")

In [11]:
events.info()
match_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136979 entries, 0 to 136978
Data columns (total 15 columns):
match_id            136979 non-null int64
innings             136979 non-null int64
ball                136979 non-null float64
batsman             136979 non-null object
non_striker         136979 non-null object
batting_team        136979 non-null object
bowler              136979 non-null object
bowling_team        136979 non-null object
batsman_runs        136979 non-null int64
extra_runs          136979 non-null int64
total_runs          136979 non-null int64
extra_type          136979 non-null object
out_type            136979 non-null object
player_out          136979 non-null object
fielder_involved    136979 non-null object
dtypes: float64(1), int64(5), object(9)
memory usage: 15.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 21 columns):
competition      577 non-null object
match_id         577 non-null int64
start_date       577 non-null object
end_date         577 non-null object
match_type       577 non-null object
overs            577 non-null int64
city             577 non-null object
venue            577 non-null object
neutral_venue    577 non-null int64
home_team        577 non-null object
away_team        577 non-null object
umpire1          577 non-null object
umpire2          577 non-null object
toss_winner      577 non-null object
decision         577 non-null object
result_method    577 non-null object
winner           577 non-null object
win_innings      577 non-null int64
win_runs         577 non-null int64
win_wickets      577 non-null int64
man_of_match     577 non-null object
dtypes: int64(6), object(15)
memory usage: 94.7+ KB

In [3]:
match_info.season = pd.DatetimeIndex(match_info.start_date).year

In [3]:
match_info["season"] = pd.DatetimeIndex(match_info.start_date).year
match_info[['match_id','season']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 2 columns):
match_id    577 non-null int64
season      577 non-null int32
dtypes: int32(1), int64(1)
memory usage: 6.8 KB

In [4]:
events = pd.merge(events,match_info[["match_id","season"]],how="left",on=['match_id'])
events.head()

,match_id,innings,ball,batsman,non_striker,batting_team,bowler,bowling_team,batsman_runs,extra_runs,total_runs,extra_type,out_type,player_out,fielder_involved,season
0,335982,0,0.1,SC Ganguly,BB McCullum,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,0,1,1,legbyes,none,none,none,2008
1,335982,0,0.2,BB McCullum,SC Ganguly,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,0,0,0,none,none,none,none,2008
2,335982,0,0.3,BB McCullum,SC Ganguly,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,0,1,1,wides,none,none,none,2008
3,335982,0,0.4,BB McCullum,SC Ganguly,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,0,0,0,none,none,none,none,2008
4,335982,0,0.5,BB McCullum,SC Ganguly,Kolkata Knight Riders,P Kumar,Royal Challengers Bangalore,0,0,0,none,none,none,none,2008

In [7]:
match_summary = events.groupby(['season','match_id','innings','batting_team','bowling_team']).agg({'batsman_runs':sum
                                                                                                  ,'ball':max
                                                                                                  ,'extra_runs':sum
                                                                                                  ,'total_runs':sum})
match_summary.head()

                                                                                 batsman_runs  \
season match_id innings batting_team                bowling_team
2008   335982   0       Kolkata Knight Riders       Royal Challengers Bangalore           205
                1       Royal Challengers Bangalore Kolkata Knight Riders                  64
       335983   0       Chennai Super Kings         Kings XI Punjab                       234
                1       Kings XI Punjab             Chennai Super Kings                   196
       335984   0       Rajasthan Royals            Delhi Daredevils                      123

                                                                                 ball  \
season match_id innings batting_team                bowling_team
2008   335982   0       Kolkata Knight Riders       Royal Challengers Bangalore  19.6
                1       Royal Challengers Bangalore Kolkata Knight Riders        15.2
       335983   0       Chennai Super Kings         Kings XI Punjab              19.6
                1       Kings XI Punjab             Chennai Super Kings          19.6
       335984   0       Rajasthan Royals            Delhi Daredevils             19.6

                                                                                 extra_runs  \
season match_id innings batting_team                bowling_team
2008   335982   0       Kolkata Knight Riders       Royal Challengers Bangalore          17
                1       Royal Challengers Bangalore Kolkata Knight Riders                19
       335983   0       Chennai Super Kings         Kings XI Punjab                       6
                1       Kings XI Punjab             Chennai Super Kings                  11
       335984   0       Rajasthan Royals            Delhi Daredevils                      7

                                                                                 total_runs
season match_id innings batting_team                bowling_team
2008   335982   0       Kolkata Knight Riders       Royal Challengers Bangalore         222
                1       Royal Challengers Bangalore Kolkata Knight Riders                83
       335983   0       Chennai Super Kings         Kings XI Punjab                     240
                1       Kings XI Punjab             Chennai Super Kings                 207
       335984   0       Rajasthan Royals            Delhi Daredevils                    130